.title{
    text-align: center;
}
#grid{
    display: grid;
    grid-template-rows: 390px 50px; 
    grid-template-columns: 140px 390px 390px;
    grid-gap: 15px;
    justify-content: center;
    grid-template-areas:"check inputs tx"
                         " check but but";

}

/* #kek{
    display: grid;
    width: 390px;
    height: 390px;
    grid-template-rows: repeat(6,65px); 
    grid-template-columns: repeat(6,65px);
    /* grid-template-areas: "inp inp inp inp inp inp"
                         "inp inp inp inp inp inp"
                         "inp inp inp inp inp inp"
                         "inp inp inp inp inp inp"
                         "inp inp inp inp inp inp"
                         "inp inp inp inp inp inp"; 

} */
.checkList{ 
    display: flex;
    flex-direction: column;
    grid-area: check;
}
/* .input{
    width: 55px;
    height: 55px;
    grid-area: inp;
    
    
}  */
.inputs{
    grid-area: inputs;
    font-size: 30px;
}
.textAreas{
    font-size: 30px;
    width: 390px;
    height: 385px;
    grid-area: tx;

}

.textareaInp{
    width: 390px;
    height: 385px;
    border-radius: 5%;
    font-family: inherit;
   font-size: inherit;
}
textarea{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    font-family: inherit;
    font-size: inherit;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    grid-area: but;
    
}
.buttons>input{
    width: 50%;
    height: 50px;
    
    margin: 0 7px;
    background-color: white;
}